body {
  margin: 0;
}

#towerBox {
  display: flex;
}

.tower {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 200px;
  width: 1px;
  border: black solid 5px;
  background: black;
  margin: 150px;
}

#disk1 {
  display: block;
  height: 30px;
  width: 170px;
  background: red;
}

#disk2 {
  display: block;
  height: 30px;
  width: 130px;
  background: blue;
}

#disk3 {
  display: block;
  height: 30px;
  width: 100px;
  background: green;
}

#disk4 {
  display: block;
  height: 30px;
  width: 70px;
  background: gray;
}
